{% extends 'XarismaBundle:Default:base.html.twig' %}

{% block body -%}
    <h1>Import creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('import') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
